#general
.DS_Store
node_modules
/dist
.env.local
.env.*.local
npm-debug.log*
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Back
Backend/config/config.json
Backend/images
Backend/node_modules
Backend/package.json
Backend/package-lock.json


#Front
Frontend/node_modules
Frontend/package.json
Frontend/package-lock.json
Frontend/.browserslistrc
Frontend/.eslintrc.js